<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>ChaiMaMa</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="/">
                    <svg id='logo' viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg" width="28px">
                        <path
                            d="M7.8095 20.9911C7.8095 12.5848 15.2432 5.48451 25.9194 4.44997C27.846 4.26327 29.1218 2.86693 30.7606 2.50395C33.4216 1.91457 31.1331 1.76475 30.0434 2.47615C27.5775 4.08589 27.82 8.8239 27.82 11.4834C27.82 17.5778 24.7152 20.2529 16.8106 21.0189C13.4102 21.3484 9.45157 22.6191 6.5185 23.8823C2.4938 25.6157 2 28.6389 2 32"
                            stroke="#bac5c4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link " href="/listprod">Products</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/showcart">Cart</a></li>
                    <li class="nav-item">
                        <div class="dropdown nav-link">
                            <a href="{{main_menu_ref}}"> {{main_menu}}</a>
                            <div class="dropdown-content">
                                {{{admin_portal}}}
                                {{{logout}}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div data-reflow-type="shopping-cart">
                    <div class="reflow-shopping-cart">
                        <div class="ref-checkout" style="display:flex;">
                            <div class="ref-checkout-content">
                                <form id='checkout_form' class="ref-details" action="/order" method="post">
                                    <div class="ref-heading">Details</div>
                                    <label>
                                        <span>Customer ID</span>
                                        <input id="ref-field-id" type="text" name="customerId" required value={{{id}}}>
                                        <div class="ref-validation-error"></div>
                                    </label>
                                    <label>
                                        <span>Email</span>
                                        <input id="ref-field-email" type="email" name="email" required
                                            value={{{email}}}>
                                        <div class="ref-validation-error"></div>
                                    </label>
                                    <label>
                                        <span>Phone</span>
                                        <input id="ref-field-phone" type="tel" name="phone" pattern="[0-9\+\- ]{5,30}"
                                            placeholder="+250 555 1234" required value={{{phone}}}>
                                        <div class="ref-validation-error"></div>
                                    </label>
                                    <div class="ref-shipping-address-holder"></div>

                                    <label class="ref-note-to-seller ref-field-collapsible open">
                                        <span>
                                            <strong>Note to Seller</strong>
                                        </span>
                                        <textarea id="ref-field-note-seller" name="note-to-seller" row="4"
                                            maxlength="1000"
                                            placeholder="If you have any specific instructions you want to give to the seller, write them here."
                                            data-state-src="note"></textarea>
                                        <div class="ref-validation-error"></div>
                                    </label>

                                    <div class="ref-nav" style="padding-top:10px;">
                                        <div class="ref-row">
                                            <a class="ref-back" href="/showcart"
                                                style="text-decoration: none; color:#828887">
                                                ← Back to Shopping Cart
                                            </a>
                                            <button class="ref-button" style="background-color: #828887;">
                                                Confirm Order
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="ref-checkout-summary">
                                <div class="ref-heading">Order Summary</div>
                                {{{products}}}
                                <hr>
                                <div class="ref-totals">
                                    <div class="ref-subtotal">
                                        <div class="ref-row"><span>Subtotal</span><span>${{{subTotal}}}</span></div>
                                    </div>
                                    <div class="ref-shipping" style="display: block;">
                                        <div class="ref-row"><span>Shipping</span><span>${{{shipFee}}}</span>
                                        </div>
                                    </div>
                                    <div class="ref-taxes" style="display: none;">
                                        <div class="ref-row"><span></span><span></span></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="ref-total">
                                    <div class="ref-row"><span>Total</span><span>${{{total}}}</span></div>
                                    <div class="ref-total-note">All prices are in <span>CAD</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src=" https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox@3.1.0/dist/js/glightbox.min.js"></script>
    <script src='/js/checkout.js'></script>
</body>