<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v1/toolkit.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>ChaiMaMa</title>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a href="/">
                    <svg id='logo' viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg" width="28px">
                        <path
                            d="M7.8095 20.9911C7.8095 12.5848 15.2432 5.48451 25.9194 4.44997C27.846 4.26327 29.1218 2.86693 30.7606 2.50395C33.4216 1.91457 31.1331 1.76475 30.0434 2.47615C27.5775 4.08589 27.82 8.8239 27.82 11.4834C27.82 17.5778 24.7152 20.2529 16.8106 21.0189C13.4102 21.3484 9.45157 22.6191 6.5185 23.8823C2.4938 25.6157 2 28.6389 2 32"
                            stroke="#bac5c4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <div id="navcol-1" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/listprod">Products</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/showcart">Cart</a></li>
                    <li class="nav-item">
                        <div class="dropdown nav-link">
                            <a href="{{main_menu_ref}}"> {{main_menu}}</a>
                            <div class="dropdown-content">
                                {{{admin_portal}}}
                                {{{logout}}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div data-reflow-type="shopping-cart" data-reflow-success-url="success.html"
                    data-reflow-cancel-url="cancel.html">
                    <div class="reflow-shopping-cart">
                        <div class="ref-loading-overlay"></div>
                        <div class="ref-message" style="display: none;"></div>
                        <div class="ref-cart" style="display: block;">
                            <div class="ref-heading">Shopping Cart</div>
                            <div class="ref-th">
                                <div class="ref-product-col">Product</div>
                                <div class="ref-price-col">Price</div>
                                <div class="ref-quantity-col">Quantity</div>
                                <div class="ref-total-col">Total</div>
                            </div>
                            <div class="ref-cart-table">
                                {{{products}}}
                            </div>
                            <div class="ref-footer">
                                <div class="ref-links">
                                    <a href="#" target="_blank">Refund Policy</a>
                                    <a href="#" target="_blank">Terms &amp; Conditions</a>
                                </div>
                                <div class="ref-totals">
                                    <div id='subTotal' class="ref-subtotal">Subtotal: ${{{subTotal}}}</div>
                                    <div class="ref-shipping-taxes">Shipping and taxes are calculated<br /> during
                                        checkout.</div>
                                    <a href="/checkout">
                                        <div class="ref-button" style="background-color: #828887;">Checkout</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox@3.1.0/dist/js/glightbox.min.js"></script>
    <script src="/js/product.js"></script>
</body>

</html>